{%extends "tasks/base.html"%} 
{% block content %}
    <div class="col-md-6 m-auto">
        <div class="card card-body mt-5">
            <h2 class="text-center">Register</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                    <div class="col-md-3 text-center">
                        <button class="btn btn-outline-info" type="submit">Sign Up</button>
                    </div>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Already Have An Account? <a class="ml-2" href="{% url 'user-login' %}">Sign In</a>
                </small>
            </div>
        </div>
    </div>
{% endblock content %}