.user {
  display: inline-block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.user1 {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.imgwrapper {
  vertical-align: middle;
  text-align: center;
}
.scrollable {
  margin: 5px;
  padding: 5px;
  background-color: #444444;
  width: 200px;
  height: 160px;
  overflow: auto;
  text-align: justify;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-github {
  background: #000000;
  color: white;
}
