[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
djangorestframework = "==3.9.2"
django-rest-knox = "==3.6.0"
Django = "==2.1.7"

[requires]
python_version = "3.6"
