{% extends "tasks/base.html" %}
{% block content %}
<h2>User Tasks</h2>
<small class="text-muted">click on task to view task details</small>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
            <tr class="clickable-row table-active " data-href="{% url 'task-detail' task.id %}">
            <td>{{task.title}}</td>
            <td>{{task.created_at}}</td>
            <td>{{ task.get_status_display }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
 <script>
    $(document).ready(()=> {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
    </script>
{% endblock content %}