{% extends "tasks/base.html" %}
{% block content %}
<div class="col-md-6 m-auto">
    <div class="card card-body mt-5 mb-5">
        <h2 class="text-center">{{object.title}}</h2>
            <h4>Created By<h4>
            <p class="p-3">{{object.owner}}</p>
            <h4>Description<h4>
            <p class="text-justify p-3">{{object.desc}}</p>
            <h4>Created At<h4>
            <p class="p-3">{{object.created_at}}</p>
            <h4>Assignee<h4>
            {% for assignee in object.assignee.all %}
                <p class="p-3">{{assignee.username}}</p>
            {% endfor %}
            <h4>Status<h4>
            <p class="p-3">{{ object.get_status_display }}</p>
            {% if object.owner == user %}
            <div class="text-center m-auto form-group">
                <a class="btn btn-secondary btn-sm mt-1" href="{% url 'task-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1" href="{% url 'task-delete' object.id %}">Delete</a>
            </div>
            {% endif %}
        </form>
    </div>
</div>
 {% endblock content %}
