{% extends "tasks/base.html" %}
{% block content %}
<h2>Team Tasks</h2>
<small class="text-muted" >click on task title to view task details</small>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
            <tr class="table-active">
            <td><a href="{% url 'teamtask-detail' task.id %}">{{task.title}}</a></td>
            <td>{{task.created_at}}</td>
            <td>{{ task.get_status_display }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}