{%extends "tasks/base.html"%}
{%load crispy_forms_tags%} 
{% block content %}
    <div class="col-md-6 m-auto">
        <div class="card card-body mt-5">
            <h2 class="text-center">Create Team</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ form | crispy }}
                    <div class="text-center m-auto">
                        <button class="btn btn-outline-success" type="submit">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}